.edu {
    grid-area: edu;
    padding: 4rem 10%;
    color: blue;

    
    h1 {
        text-align: center;
        margin-bottom: 3rem;
    }

    .wrapper {
        display: flex;

        h2 {
            text-align: center;
        }
        
        div {
            flex: 1;
        }

        li {
            margin-right: 3rem;
            padding: .3rem;
        }
    }

    .music {
        border-right: 2px solid blue;
        margin-left: auto;
    }

    .tech {
        margin-right: auto;
        padding-left: 3rem;;
    }



}