.footer {
    grid-area: footer;
    background-color: gray;
    color: #f5f5c6;
    display: grid;
    text-align: center;
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:(1, 2fr);
    grid-template-areas: 
        "languages  contact"
        "bottom     bottom";
}
.languages {
    grid-area: languages;
    margin: 0 15%;
    display: flex;

    div {
        flex: 1;
    }
}

.contact {
    grid-area: contact;

    img {
        width: 5rem;
    }
}
.bottom {
    grid-area: bottom;
}