html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;        /* 1em == 1rem == 16px */
}

body {      
    // background-color: #f5f5c6;
    background: linear-gradient(90deg, rgba(245,245,198,0.3) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 0), #ccc;
    background-size:100px auto;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;

    display: grid;
    grid-template-rows: repeat(4, auto);  
    grid-template-areas: "bio" "history" "edu" "footer";
}
