html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;        /* 1em == 1rem == 16px */
}

body {      
    background: $mainYellow;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);  
    grid-template-areas: "bio" "history" "edu" "footer";
    scroll-snap-type: y mandatory; // proximity;
}

.snap-to {
    scroll-snap-align: start;
  }